@font-face {
	font-family: 'Star-Jedi';
	src: local('Starjedi'),
		url('./font/Starjedi.ttf') format('truetype');
	font-weight: normal;

}

.list-group-item,
.select,
li,
.title-header,
.list-header-item,
.name {
	font-family: 'Star-Jedi';
}

.list-header-item {
	font-family: 'Star-Jedi';
	font-weight: normal;
}

.list-group-item {
	font-weight: normal;
}